body {
    margin: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("./travel.jpg");
}

.navbar {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    background-color: rgb(67, 63, 59);
    opacity: 0.8;
    position: sticky;
    top: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    gap: 15px;
}

.logo-img {
    width: 30px;
    transform: rotate(-45deg);
}

.logo-text {
    color: rgb(245, 245, 245);
}

.center-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 35%;
}

.mid-btn {
    background: none;
    border: 0;
    font-weight: bolder;
    color: rgb(245,245,245);
    font-size: larger;
}

.mid-btn:hover {
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: rgb(245,245,245);
}

.nav-link:hover {
    color: rgb(155,155,155);
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    background-color: rgb(245,245,245);
    border-radius: 50px;
    margin: 0;
    padding: 5px;
    height: 50px;
}

.form-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.nav-search {
    background: none;
    border: none;
    width: 60%;
    height: 40px;
    margin-left: 5px;
    font-size: larger;
}

.nav-search:focus {
    outline: none;
}

.nav-img {
    width: 20px;
}

.nav-btn {
    font-size: 18px;
    color: rgb(245,245,245);
    background-color: palevioletred;
    border-radius: 5px;
    font-weight: 600;
    padding: 7px;
}

.nav-btn:hover {
    background-color: rgb(241, 170, 193);
    color: rgb(20, 11, 11);
    cursor: pointer;
}

.main-page {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 50%;
}

.icon-img {
    width: 30px;
    padding: 10px;
}

.icon-img:hover {
    opacity: 0.6;
    cursor: pointer;
}

section {
    display: none;
}

#home {
    display: block;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 35%;
    left: 5%;
    top: 15%;
    background-color: rgb(245,245,245);
    padding: 15px;
    border-radius: 5px;
}

.home-header {
    font-weight: bolder;
    font-size: 48px;
    color: rgb(20, 11, 11);
}

.home-text {
    font-size: 16px;
    color: rgb(155,155,155);
}

.home-btn {
    background-color: palevioletred;
    color: rgb(245,245,245);
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;
    padding: 7px;
}

.home-btn:hover {
    background-color: rgb(241, 170, 193);
    cursor: pointer;
    color: rgb(20, 11, 11);
}



script {
    display: none;
}