body {
    margin: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("./travel.jpg");
    background-size: cover;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(67, 63, 59);
    opacity: 0.8;
    position: sticky;
    top: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    gap: 15px;
}

.logo-img {
    width: 30px;
    transform: rotate(-45deg);
}

.logo-text {
    color: rgb(245, 245, 245);
}

.center-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 35%;
}

.mid-btn {
    background: none;
    border: 0;
    font-weight: bolder;
    color: rgb(245, 245, 245);
    font-size: larger;
}

.mid-btn:hover {
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: rgb(245, 245, 245);
}

.nav-link:hover {
    color: rgb(155, 155, 155);
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    background-color: rgb(245, 245, 245);
    border-radius: 50px;
    margin: 0;
    padding: 5px;
    height: 50px;
    position: relative;
}

.form-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.nav-search {
    background: none;
    border: none;
    width: 60%;
    height: 40px;
    margin-left: 5px;
    font-size: larger;
}

.nav-search:focus {
    outline: none;
}

.nav-img {
    width: 20px;
}

.nav-btn {
    font-size: 18px;
    color: rgb(245, 245, 245);
    background-color: palevioletred;
    border-radius: 5px;
    font-weight: 600;
    padding: 7px;
}

.nav-btn:hover {
    background-color: rgb(241, 170, 193);
    color: rgb(20, 11, 11);
    cursor: pointer;
}

#results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    overflow-y: auto;
    max-height: 400px;
    position: absolute;
    left: 65%;
    margin-top: 6px;
}

#results-container:empty {
    display: none;
}

/*.results-buffer {
    height: 50px;
    width: 150px;
    background-color: darkgreen;
}*/

.result-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(245, 245, 245);
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    height: 300px;
}

.result-item img {
    width: 200px;
    height: 150px;
    border-radius: 8px;
}

.main-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 15%;
    left: 95%;
}

.icon-img {
    width: 30px;
    padding: 10px;
}

.icon-img:hover {
    opacity: 0.6;
    cursor: pointer;
}

section {
    display: none;
}

#home {
    display: block;
    align-items: center;
    margin-left: 10%;
    margin-top: 5px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 35%;
    left: 5%;
    top: 15%;
    background-color: rgb(245, 245, 245);
    padding: 15px;
    border-radius: 5px;
}

.home-header {
    font-weight: bolder;
    font-size: 48px;
    color: rgb(20, 11, 11);
}

.home-text {
    font-size: 16px;
    color: rgb(155, 155, 155);
}

.home-btn {
    background-color: palevioletred;
    color: rgb(245, 245, 245);
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;
    padding: 7px;
}

.home-btn:hover {
    background-color: rgb(241, 170, 193);
    cursor: pointer;
    color: rgb(20, 11, 11);
}

#about {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 20px;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.about-header {
    font-size: 36px;
    font-weight: bolder;
    margin: 5px;
}

.about-text {
    width: 50%;
}

.team-container {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
    color: rgb(245, 245, 245);
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
}

.team-text {
    font-size: 30px;
    font-weight: 700;
}

.members-container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 5px;
}

.members-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members-container img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.members-container h4 {
    margin: 5px;
    font-size: 18px;
    font-weight: 600;
}

.members-container p {
    font-size: 14px;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 6px;
    text-align: center;
    margin: 0;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.contact-text {
    font-size: 48px;
    font-weight: 900;
    color: rgb(245, 245, 245);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 8px;
}

.contact-form {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 5px;
    color: rgb(245, 245, 245);
}

.submit-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: palevioletred;
    color: rgb(245, 245, 245);
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;
    padding: 7px;
}

.contact-label {
    font-size: 18px;
    font-weight: 600;
}

.contact-input {
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 6px;
}

.submit-button {
    width: 100px;
    align-self: center;
    background-color: mistyrose;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(20, 11, 11);
}

.submit-button:hover {
    background-color: rgb(199, 159, 155);
    cursor: pointer;
}

script {
    display: none;
}